<table class="table">
  <thead>
    <tr>
      <th>Invoice Key</th>
      <th>Total $</th>
      <th>Sent On: </th>
      <th>Paid On: </th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |i| %>
      <tr>
        <td><%= i.invoice_key %></td>
        <td><%= number_to_currency(i.total, :precision => 2) %></td>
        <td><%= i.created_at.strftime('%m-%d-%Y') %></td>
        <td><%= i.paid_on.blank? ? 'Open' : i.paid_on.strftime('%m-%d-%Y') %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>