local: &local
  host: localhost
  port: 5432
  username: 
  password: 
  adapter: postgresql 
  pool: 5
  timeout: 5000
  reconnect: true

development:
  <<: *local
  database: devops_development

test:
  <<: *local
  database: devops_test

production: 
  <<: *local
  database: devops
